body {
    background-color: #54BEF3 ;
    text-align: center;
    margin: 15px;
}

section {
    background-color: #ffff;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    text-align: left;
    text-shadow: 2px 2px white;
}

.icons {
    font-size: 3.5em;
}

.resume {
    color: red;
}

.card {
    margin-right: auto;
}

