body {
    background-color: #54BEF3 ;
    text-align: center;
    margin: 15px;
}

section {
    background-color: #ffff;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: left;
}

