body {
    background-color: #54BEF3 ;
    text-align: center;
    margin: 15px;
    line-height: 2.5em;
}

h1 {
    font: bolder 4em 'Chelsea Market', cursive;
    text-align: left;
    text-shadow: 2px 2px white;
}

body, h2, div {
    font-family: 'Chelsea Market', cursive;
}

section {
    background-color: #ffff;
    text-align: center;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.icons {
    font-size: 3.5em;
}
#intro, .resumeText {
    font-size: 1.5em;
    line-height: 2.5em;
    margin: 20px;
}

.rogerson {
    width: 20%;
    height: 20%;
    border-radius: 100px;
    margin: 20px;
}

.resumePic {
    width: 50%;
    height: 50%;
    border-radius: 100px;
}

.linkedInIcon {
    width: 2.5%;
    height: 2.5%;
}

.introContainer {
    display: flex;
    align-items: center;
}

